{% extends "layout.njk" %}

{% block content %}


    <div class="wrapper">
        <img src="assets/eu.png" alt="Foto Minha">
        <h1>Rafael Neves de Oliveira</h1>
        <h2>Estudante de Analise e Desenvolvimento de Sistema - Universidade Presbiteriana Mackenzie</h2>
        <p>Atividades Atuais - 
            <a href="https://rocketseat.com.br/launchbase" target="_blank">RocketSeat</a>
            <a href="https://www.mackenzie.br/" target="_blank">Mackenzie</a>
        
        </p>   
    </div>
    <div class="midia">
        <a href="https://www.instagram.com/rafaol__/" target="_blank"><img src="assets/instagram.png" alt="instagram"></a>
        <a href="https://www.facebook.com/rafael.neves.737" target="_blank"><img src="assets/facebook.png" alt="facebook"></a>
    </div>

{% endblock %}