{% extends "layout.njk" %}

{% block head %}

    <title>Aulas - Rafael Neves</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=" shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>

{% endblock %}

{% block content %}

<div class="wrapper">
    <h1>Aulas</h1>
</div>

<section class="cards">

    {% for item in items %}

    <div class="card" id="{{item.id}}">
        <div class="card__image-container {{'featured-wapper' if item.featured }}">
            <img src="https://img.youtube.com/vi/{{item.id}}/mqdefault.jpg" alt="Imagem de {{item.title}}">
            {% if item.featured %}
                <div class="featured">Featured</div>
            {% endif %}
        </div>
        <div class="content">
            <p>{{item.title}}</p>
        </div>
        <div class="card__info">
            <p>{{item.duration}}</p>
            <p class="card__price">{{item.price}}</p>
        </div>
    </div>

    {% endfor %}

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <span class="material-icons">close</span>
        </a>

        <div class="modal-content">
            <iframe src="https://www.youtube.com/embed/" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="/script.js"></script>


{% endblock %}