{% extends "layout.njk" %}

{% block head %}

<title>Aulas - Rafael Neves</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="wrapper">
    <h1>Aulas</h1>
</div>

<section class="cards">

    <div class="card" id="2alg7MQ6_sI">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/2alg7MQ6_sI/mqdefault.jpg" alt="Git e Github">
        </div>
        <div class="content">
            <p>GIT e GITHUB na prática</p>
        </div>
        <div class="card__info">
            <p>34 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="HN1UjzRSdBk">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/HN1UjzRSdBk/mqdefault.jpg" alt="Git e Github">
        </div>
        <div class="content">
            <p>Desvendando o CSS Grid na prática</p>
        </div>
        <div class="card__info">
            <p>36 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="vqrjFnq3-uo">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/vqrjFnq3-uo/mqdefault.jpg" alt="Git e Github">
        </div>
        <div class="content">
            <p>Criando Player de Áudio</p>
        </div>
        <div class="card__info">
            <p>1 h 45 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="rAzHvYnQ8DY">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/mqdefault.jpg" alt="Git e Github">
        </div>
        <div class="content">
            <p>Array: High Order Functions</p>
        </div>
        <div class="card__info">
            <p>34 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="GSqR2i-Pq6o">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/GSqR2i-Pq6o/mqdefault.jpg" alt="Git e Github">
        </div>
        <div class="content">
            <p>Desvendando a variável This</p>
        </div>
        <div class="card__info">
            <p>49 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

    <div class="card" id="ghTrp1x_1As">
        <div class="card__image-container">
            <img src="https://img.youtube.com/vi/ghTrp1x_1As/mqdefault.jpg" alt="Git e Github">
        </div>
        <div class="content">
            <p>O que é API? Rest e Restful</p>
        </div>
        <div class="card__info">
            <p>34 min</p>
            <p class="card__price">Free</p>
        </div>
    </div>

</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <span class="material-icons">close</span>
        </a>

        <div class="modal-content">
            <iframe src="https://www.youtube.com/embed/" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="/script.js"></script>


{% endblock %}