{% extends "layout.njk" %}

{% block head %}

    <title>Conteúdo - Rafael Neves</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=" shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>

{% endblock %}

{% block content %}

    <div class="wrapper">
        <h1>Redes Sociais</h1>
    </div>

    <section class="contents">

        {% for site in sites %}

        <div class="grade" id="{{site.id}}">
            <div class="content__image-container">
                <img src="{{site.ilustration}}" alt="Imagem de {{site.theme}}">
            </div>
            <div class="info-a">
                <p>{{site.theme}}</p>
            </div>
            <div class="content__info">
                <p>{{site.time}}</p>
                <p class="content__price">{{site.condition}}</p>
            </div>
        </div>
        {% endfor %}

    </section>

    <div class="grade-overlay">
        <div class="display">
            <a class="close-grade">
                <span class="material-icons">close</span>
            </a>
            <a class="maximize-grade">
                <span class="material-icons">maximize</span>
            </a>
            <div class="grade-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="/script.js"></script>

{% endblock %}